h1{
	color: #41f4a0;
}
body{
	background-image: url("../img/pig-dice-fb680.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#container{
	/*text-align: center;*/
}
.row{
	text-align: center;
}
#column1{
	background-color: #C0C0C0;
	display: table;
	width: 50%
	height: 100%;
}
#column2{
	background-color: #D0D0D0;
	display: table;
	width: 50%
	height: 100%;
}

.btn-roll{
    background-color: #42f49b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.btn-hold{
	background-color: #41a0f4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;





}
