.player-console {
  display: none;
}
body{
	background-image: url("../img/pig-dice-fb680.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
#player1-roll{
	background-color: #f442c5;
}
#player2-roll{
	background-color: #f442c5;
}